fastapi                      
numpy                        
pandas                                  
pydantic                   
requests                                       
setuptools                   
streamlit                                      
uvicorn                      
