bs4
protobuf
fastapi                      
keras
matplotlib                  
numpy                        
pandas                      
Pillow                       
plotly                      
pydantic                   
requests                   
scikit-learn                
scipy                        
seaborn                      
setuptools                   
streamlit                                      
tensorflow
uvicorn                      
