bs4                         
fastapi                      
keras                       
matplotlib                  
numpy                        
pandas                      
Pillow                       
plotly                      
pydantic                   
requests                   
scikit-learn                
scipy                        
seaborn                      
setuptools                   
sklearn                      
streamlit                                      
tensorflow                  
uvicorn                      
